@using Gateway.Storage.Dtos
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<ComputerDto>
<div class="container mt-5">
    <h1 class="text-center mb-4">Computers</h1>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Location</th>
                    <th>AssetType</th>
                    <th>Technician</th>
                    <th>Model</th>
                    <th>SerialNumber</th>
                    <th>InventoryNumber</th>
                    <th>User</th>
                    <th>PurchaseDate</th>
                    <th>PurchasePrice</th>
                    <th>Manufacturer</th>
                    <th>Description</th>
                    <th>Comment</th>
                    <th>OperatingSystem</th>
                    <th>RAMSize</th>
                    <th>StorageSize</th>
                    <th>Processor</th>
                    <th>HasGraphicsCard</th>
                    <th>GraphicsCardModel</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var computer in Model)
                {
                    <tr>
                        <td>@computer.Name</td>
                        <td>@computer.Status</td>
                        <td>@computer.Location</td>
                        <td>@computer.AssetType</td>
                        <td>@computer.Technician</td>
                        <td>@computer.Model</td>
                        <td>@computer.SerialNumber</td>
                        <td>@computer.InventoryNumber</td>
                        <td>@computer.User</td>
                        <td>@computer.PurchaseDate.ToString("yyyy-MM-dd")</td>
                        <td>@computer.PurchasePrice</td>
                        <td>@computer.Manufacturer</td>
                        <td>@computer.Description</td>
                        <td>@computer.Comment</td>
                        <td>@computer.OperatingSystem</td>
                        <td>@computer.RAMSize</td>
                        <td>@computer.StorageSize</td>
                        <td>@computer.Processor</td>
                        <td>@computer.HasGraphicsCard</td>
                        <td>@computer.GraphicsCardModel</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
